/* .container {
   text-align: center;
   margin: 10px;
} */

.jumbotron{
   background-image:   linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
   url("../images/globe.gif");

}

body {
  font-family: 'Open Sans', sans-serif !important;
}
 #showAfterClick {
   display: none;
 }
 